<div class="row col-md-4 col-md-offset-4">


	<div class="jumbotron ">
		<h1 class="text-center" >登录</h1>

		<form ng-submit="login.doLogin()">
			<!-- Username input -->
			<div class="form-group">
				<label>用户名</label>
				<input type="text" class="form-control" ng-model="login.loginData.username" required>
			</div>
<!-- password input -->
			<div class="form-group">
				<label>密码</label>
				<input type="password" class="form-control" ng-model="login.loginData.password" required>
			</div>


<!-- log-in button -->
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!login.processing">登录</span>
				<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
			</button>

		</form>

	</div>
	<div class="alert alert-danger" ng-if="login.error">
		{{ login.error }}
	</div>
</div>